* {
    color: white !important;
    border-color: transparent !important;
}

body {

    background: #262626 !important;
}

.header {
    background: transparent !important;
    box-shadow: none !important;
}

.header .hamburger .line {
    background: white !important;
}

.drop-down {
    background: rgba(46, 46, 46, 1) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.drop-down li:hover {
    background: #464646 !important;
}

.notification-unread {
    background: #464646 !important;
}

.sidebar .nano-content ul li a,
.sidebar,
.logo {
    background: rgba(46, 46, 46, 1) !important;
}

.sidebar .nano-content ul li a:hover {
    background: linear-gradient(to right, #5772FE , #6D85FB) !important;
}

.sidebar .nano-content>ul>li>ul>li.active>a, .sidebar .nano-content>ul>li>ul>li.open>a, .sidebar .nano-content>ul>li>ul>li>ul{
   
    background: rgba(0,0,0,0.3) !important;
}
.sidebar .nano-content>ul>li.active>a, .sidebar .nano-content>ul>li.open>a, .sidebar .nano-content>ul>li>ul{
background: linear-gradient(to right, #5772FE , #6D85FB) !important;
}

input,
textarea,
select {

    background: rgba(56, 56, 56, 1) !important;

}

.card {
    background: rgba(46, 46, 46, 0.9) !important;
}

.form-control:disabled,
.form-control[readonly] {
    background: #303030 !important;

    cursor: not-allowed;
}

.btn-default, .btn-secondary{
    background: rgba(56, 56, 56, 1) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.btn-success, .badge-success{
    background: linear-gradient(90deg, rgba(16,195,106,1) 35%, rgba(0,255,214,1) 100%) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.btn-warning, .badge-warning{
    background: linear-gradient(90deg, rgba(255,158,0,1) 0%, rgba(255,231,0,1) 100%) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.btn-danger, .badge-danger{
    background: linear-gradient(90deg, rgba(195,61,16,1) 35%, rgba(255,192,0,1) 100%) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover{
    opacity: 0.7;
}
.btn-secondary:active, .btn-success:active, .btn-warning:active, .btn-danger:active{
    transition: all 0s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}
table tr.odd + tr.child{
    background: inherit !important;
}
table tr.even + tr.child{
    background: rgba(255, 255, 255, 0.03) !important;
}
table tr.even{
    background: rgba(255, 255, 255, 0.03) !important;
}

thead,
tfoot {
    background: #222222 !important;
}

.dtr-control, .sorting_1 {
    background-color: transparent !important;
}

.myActionDropDown {

    background-color: rgba(46, 46, 46, 1) !important;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.myActionDropDown button {
    color: white !important;
}

.dt-button,
.dt-button-info {

    background: #464646 !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.dt-button-info h2 {

    background: inherit !important;

}

.user-work h4,
.user-skill h4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.card.info div p{

    color: white !important;

}